<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
      <httpErrors existingResponse="PassThrough"/>
      <handlers>
           <add name="iisnode" path="samples/scrumptious/app.js" verb="*" modules="iisnode"/>
     </handlers>
    <rewrite>
      <rules>
        <rule name="app.js">
          <match url="/*" />
          <action type="Rewrite" url="samples/scrumptious/app.js" />
        </rule>
      </rules>
    </rewrite>
    <iisnode
      nodeProcessCommandLine="&quot;%programfiles(x86)%\nodejs\node.exe&quot;"
      debuggingEnabled="false"
      logDirectory="..\..\LogFiles\nodejs" />
   </system.webServer>
 </configuration>